<div class="navbar-area">
    <div class="mobile-nav">
        <a routerLink="/" class="logo"><img src="assets/img/logo/logo1.png" alt="Logo"></a>
    </div>

    <div class="main-nav nav-bar-two">
        <div class="container-fluid">
            <nav class="container-max-2 navbar navbar-expand-md navbar-light ">
                <a class="navbar-brand" routerLink="/"><img src="assets/img/logo/logo2.png" alt="Logo"></a>

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a routerLink="/" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home</a>

                        </li>

                        <li class="nav-item"><a routerLink="/about" class="nav-link">About</a></li>


                        <li class="nav-item dmenu">
                            <a href="javascript:void(0);" class="nav-link">Services <i class='bx bx-plus'></i></a>

                            <ul class="dropdown-menu">
                                <!-- <li class="nav-item"><a routerLink="/webdevelopment">Web Development</a></li> -->

                                <div class="wpmm-sub-menu-wrap">
                                    <div><ul>
                                    <li class="wpmega-1columns-2total">
                                        
                                        <a class="wp-mega-menu-link" routerLink="/webdevelopment"><span class="wpmm-mega-menu-icon"><img src="assets/img/menu-icon/webdev.png" width="30" height="30"></span><span><b>Web Development</b> <br> <p>We create an engaging website</p></span></a></li>
                                    
                                    
                                    <li class="wpmega-1columns-2total">
                                        
                                        <a class="wp-mega-menu-link" routerLink="/appdevelopment"><span class="wpmm-mega-menu-icon"><img src="assets/img/menu-icon/appdev.png" width="30" height="30"></span><span><b>App Development</b> <br> <p>We develop robust and secure applications</p></span></a></li>
                                    
                                    <li class="wpmega-1columns-2total">
                                        
                                        <a class="wp-mega-menu-link" routerLink="/digitalmarketing"><span class="wpmm-mega-menu-icon"><img src="assets/img/menu-icon/dm.png" width="30" height="30"></span><span><b>Digital Marketing</b> <br> <p>We create an unbeatable digital marketing strategy</p></span></a></li>
                                        
                                        
                                    <li class="wpmega-1columns-2total">
                                            
                                        <a class="wp-mega-menu-link" routerLink="/graphicdesigning"><span class="wpmm-mega-menu-icon"><img src="assets/img/menu-icon/graphic.png" width="30" height="30"></span><span><b>Graphic Designing</b> <br> <p>Create graphics that tell your brands </p></span></a></li>
                                    
                                    <li class="wpmega-1columns-2total">
                                        
                                        <a class="wp-mega-menu-link" routerLink="/seo"><span class="wpmm-mega-menu-icon"><img src="assets/img/menu-icon/seo.png" width="30" height="30"></span><span><b>Search Engine Optimization</b> <br> <p>Be No. 1 on the Search Engine Results Page (SERP)</p></span></a></li>
                                        
                                        
                                    <li class="wpmega-1columns-2total">
                                            
                                        <a class="wp-mega-menu-link" routerLink="/smm"><span class="wpmm-mega-menu-icon"><img src="assets/img/menu-icon/smm.png" width="30" height="30"></span><span><b>Social Media Marketing</b> <br> <p>We do successful creative social media marketing</p></span></a></li>

                                </ul></div>
                                </div>
                               
                            </ul>
                        </li>

                        <li class="nav-item mmenu">
                            <a href="javascript:void(0);" class="nav-link">Services <i class='bx bx-plus'></i></a>

                            <ul>
                                <li class="wpmega-1columns-2total">
                                    
                                    <a class="wp-mega-menu-link" routerLink="/webdevelopment"><span class="wpmm-mega-menu-icon"><img src="assets/img/menu-icon/webdev.png" width="30" height="30"></span><span><b>Web Development</b> <br> <p>We create an engaging website</p></span></a></li>
                                
                                
                                <li class="wpmega-1columns-2total">
                                    
                                    <a class="wp-mega-menu-link" routerLink="/appdevelopment"><span class="wpmm-mega-menu-icon"><img src="assets/img/menu-icon/appdev.png" width="30" height="30"></span><span><b>App Development</b> <br> <p>We develop robust and secure applications</p></span></a></li>
                                
                                <li class="wpmega-1columns-2total">
                                    
                                    <a class="wp-mega-menu-link" routerLink="/digitalmarketing"><span class="wpmm-mega-menu-icon"><img src="assets/img/menu-icon/dm.png" width="30" height="30"></span><span><b>Digital Marketing</b> <br> <p>We create an unbeatable digital marketing strategy</p></span></a></li>
                                    
                                    
                                <li class="wpmega-1columns-2total">
                                        
                                    <a class="wp-mega-menu-link" routerLink="/graphicdesigning"><span class="wpmm-mega-menu-icon"><img src="assets/img/menu-icon/graphic.png" width="30" height="30"></span><span><b>Graphic Designing</b> <br> <p>Create graphics that tell your brands </p></span></a></li>
                                
                                <li class="wpmega-1columns-2total">
                                    
                                    <a class="wp-mega-menu-link" routerLink="/seo"><span class="wpmm-mega-menu-icon"><img src="assets/img/menu-icon/seo.png" width="30" height="30"></span><span><b>Search Engine Optimization</b> <br> <p>Be No. 1 on the Search Engine Results Page (SERP)</p></span></a></li>
                                    
                                    
                                <li class="wpmega-1columns-2total">
                                        
                                    <a class="wp-mega-menu-link" routerLink="/smm"><span class="wpmm-mega-menu-icon"><img src="assets/img/menu-icon/smm.png" width="30" height="30"></span><span><b>Social Media Marketing</b> <br> <p>We do successful creative social media marketing</p></span></a></li>

                            </ul>
                        </li>


                        <li class="nav-item"><a routerLink="/products" class="nav-link">Our Products</a></li>


                        <li class="nav-item">
                           <a routerLink="/blog" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Blog</a>

                          
                        </li>

                        <li class="nav-item"><a routerLink="/contact" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Contact</a></li>
                    </ul>

                    <div class="side-nav d-in-line align-items-center">
                        <div class="side-item">
                            <div class="nav-add-btn">
                                <a routerLink="/contact" class="nav-menu-btn">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="side-nav-responsive">
        <div class="container">
            <div class="dot-menu">
                
               <div class="mymobilemenu">
                   <div class="side-nav justify-content-center  align-items-center">
                    <a routerLink="/contact" class="nav-menu-btn">Contact Us</a>
                   </div>
               </div>
                <!-- <div class="circle-inner">
                    <div class="circle circle-one"></div>
                    <div class="circle circle-two"></div>
                    <div class="circle circle-three"></div>
                </div> -->
            </div>
            
            <!-- <div class="container">
                <div class="side-nav-inner">
                    <div class="side-nav justify-content-center  align-items-center">
                        <div class="side-item">
                            <div class="search-box">
                                <i class="flaticon-loupe"></i>
                            </div>
                        </div>
                        
                        <div class="side-item">
                            <div class="nav-add-btn">
                                <a routerLink="/contact" class="nav-menu-btn">Contact Us <i class='bx bx-plus'></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>

<div class="search-overlay">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="search-layer"></div>
            <div class="search-layer"></div>
            <div class="search-layer"></div>
            
            <div class="search-close">
                <span class="search-close-line"></span>
                <span class="search-close-line"></span>
            </div>

            <div class="search-form">
                <form>
                    <input type="text" class="input-search" placeholder="Search here...">
                    <button type="submit"><i class="flaticon-loupe"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>