<div class="services-details-area pt-50 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="services-widget-right">
                    <div class="widget-category">
                        <h3>Contact Us</h3>
                        <!-- <div class="col-lg-5 col-sm-12">
                        <div class="contact-img">
                            <img src="{{imageSrc}}">
                        </div>
                        </div> -->
                        <!-- <div class="col-lg-12 col-md-12"> -->
                            
                                <div class="contact-form">
                                  
                                    <form id="contactForm" action="/contact/insertcontact.php" method="post">
                                        <div class="row">
                                            <div class="col-lg-12 col-sm-12">
                                                <div class="form-group">
                                                    <i class='bx bx-user'></i>
                                                    <input type="text" name="name" id="name" class="form-control" required placeholder="Your Name*">
                                                </div>
                                            </div>
                    
                                            <div class="col-lg-12 col-sm-12">
                                                <div class="form-group">
                                                    <i class='bx bx-user'></i>
                                                    <input type="email" name="email" id="email" class="form-control" required placeholder="E-mail*">
                                                </div>
                                            </div>
                    
                                            <div class="col-lg-12 col-sm-12">
                                                <div class="form-group">
                                                    <i class='bx bx-phone'></i>
                                                    <input type="text" name="phone" id="phone_number" required class="form-control" placeholder="Your Phone">
                                                </div>
                                            </div>
                    
                                            <div class="col-lg-12 col-sm-12">
                                                <div class="form-group">
                                                    <i class='bx bx-file'></i>
                                                    <input type="text" name="subject" id="msg_subject" class="form-control" required placeholder="Your Subject">
                                                </div>
                                            </div>
                    
                                            <div class="col-lg-12 col-md-12">
                                                <div class="form-group">
                                                    <i class='bx bx-envelope'></i>
                                                    <textarea name="message" class="form-control" id="message" cols="30" rows="8" required placeholder="Your Message"></textarea>
                                                </div>
                                            </div>
                    
                                            <div class="col-lg-12 col-md-12">
                                                <button type="submit" name="submit" class="default-btn border-radius">Send Message <i class='bx bx-plus'></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            <!-- </div> -->
                        <!-- </div> -->
                    </div>


                    <div class="contact-widget">
                        <h2>Contact Info</h2>
                        <ul>
                            <li>
                                <i class="flaticon-telephone"></i>
                                <div class="content">
                                    <h3>Phone: </h3>
                                    <span><a href="tel:+17633103333">+1 763 310 3333</a></span>
                                </div>
                            </li>
                            <li>
                                <i class="flaticon-email-1"></i>
                                <div class="content">
                                    <h3>Email:</h3>
                                    <span><a href="mailto:info@avitrons.com">info@avitrons.com</a></span>
                                </div>
                            </li>
                            <li>
                                <i class="flaticon-planet-earth"></i>
                                <div class="content">
                                    <h3>Location:</h3>
                                    <span>4810 Ranchview Ln N Plymouth,<br> MN 55446</span>
                                </div>
                            </li>
                        </ul>
                    </div> 
                    <div class="widget-category">
                        <h3>Other Services</h3>
                        <ul>
                                <li class="nav-item"><a routerLink="/webdevelopment">Web Development</a></li>
                                <li class="nav-item"><a routerLink="/appdevelopment" >App Development</a></li>
                                <li class="nav-item"><a routerLink="/digitalmarketing">Digital Marketing</a></li>
                                <li class="nav-item"><a routerLink="/seo">Search Engine Optimization</a></li>
                                <li class="nav-item"><a routerLink="/smm">Social Media Marketing</a></li>
                                <li class="nav-item"><a routerLink="/graphicdesigning">Graphic Designing</a></li>
                        </ul>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>



